@use '../abstracts'as *;

.header {
    padding: fluid(32, 56, small, large) 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }
}